*
{
  box-sizing: border-box;
}

/* Resetowanie stylów przeglądarkowych: */

body {
margin: 0;
}

a {
  text-decoration:none;
}

button{
  background: none;
  border: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/* ============HEADER============ */
.header{
  /*border:1px solid black;*/
  max-width: 1240px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 0 auto;
}

.navbar{
/*  border: 1px solid black; */
  display: flex;
  /* ustawiamy na rodziców - divy obok siebie */
  justify-content: space-between;
  align-items: center;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding 20px 0; */
}

.logo{
  /*border: 1px solid blue; */
}

.menu{
  padding: 0;
  list-style: none;
  /*border: 1px solid blue; */
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.menu-item{
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 14px;
}

.menu-link{
  color: #818181;
  text-decoration: none;
}

/* menu-link:hover{ */
  /* color: black; */
/* } */

.image{
  width: 100%;
}

.heading{
  font-family:'Playfair Display';
  font-weight: 500;
}

.text {
  font-family: 'Raleway';
  color: #818181;
  line-height: 1.8; /* zwiększa odstępy między slowami */

}

.header-content{
margin-left: 40px;
margin-right: 40px;
margin-top: 40px;
/* margin: 50px 40px 0 40px; */
}

/* ARTICLES */
.articles{
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.article{
  width: 46%;
  /* height: 200px; */
  /* border: 1px solid red; */
}

.category{
  font-family: 'Raleway';
  text-transorm: uppercase;
  color: #aaaaaa;
  font-size: 12px;
}

.article-heading{
  font-family: 'Playfair Display';
  color: #434343;
}

.article-link{
  color:black;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  margin-left: 20px;
  transition: 1s;
}

.article-link:hover{
  color:lightgray;
}

.article-link:hover:after{
 width: 100%;
}

.article-link:after{
  content:"";
  position: absolute;
  width: 0;
  height: 1px;
  background: black;
  bottom: -5px;
  left: 0px;
  transition: 0.5s;
}

.newsletter
{
  background: #eeeeee;
  padding: 80px;
  text-align: center;
  margin: 50px 0;
}

.newsletter-heading
{
  font-size: 38px;
  font-weight: 400;
  font-family: 'Playfair Display';
}

.form{
  width: 500px;
  margin: 50px auto;
}

.form-group
{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cdcdcd;
}


.form-input{
  background: none;
  border: none;
  font-size: 15px;
  font-family: "Playfair Display";
  padding: 7px;
  width: 100%;
}

.form-button
{
  background: none;
  border: none;
  cursor: pointer;
}

.load-more
{
  border: 2px solid black;
  color: black;
  width: 160px;
  padding: 15px;
  display: block;
  text-align: center;
  margin: 50px auto;
  font-family: "Playfair Display";
  font-weight: bold;
  transition: 0.5s;
}

.load-more:hover
{
  background: black;
  color:white;
}

.footer{
  background: #f0f0f0;
  padding: 45px;
  display: flex;
  justify-content: space-between;
}

.footer-menu{
  /* margin-left: 160px; */
  width: 300px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-link{
  text-decoration: none;
  color: gray;
  font-family: "Raleway";
  font-weight: bold;
  /* font-size: 18px; */
}

.footer-icon
{
  width: 20px;
  height: 20px;
}

.socials
{
  /* margin-right: 60px; */
  width: 200px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menu-button{
  /* border:2px solid black; */
  position: relative;
  display: none;
  width: 30px;
  cursor: pointer;
}

.menu-button-item{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background: black;
}

.menu-button-item:nth-child(2){
  top:8px;
}

/* =======RWD====== */
@media(max-width:650px)
{
.menu{
  /* display:none; <-- ukrywa cakowicie element */
  flex-direction:column;
  width: 100%;
  position: absolute;
  top:0;
  transform: translateY(-100%);
  height: 100vh;
  background: white;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.menu-open{
  transform: translateY(0);
}

.menu-item{
  margin-bottom: 30px;
}
.header{
  padding: 0 20px;
}

.header-content{
  margin: 30px 0 0 0;
}

.heading{
  font-size: 24px;
}

.articles{
  flex-direction: column;
  padding: 0 10px;
}

.article{
  width: 100%;
}

.newsletter-heading{
  font-size: 24px;
}

.form{
  width: auto;
}

.footer{
  flex-direction: column;
  align-items: center;
}

.socials{
  margin-top: 25px;
}

.menu-button{
  display:block;
}

}
